In [2]:
import collections
import pandas as pd
words=[]
total_w_c=[]
word=[]
w=[]
key_words1=['spicy','very','like','wings','good','test','nice','excellent','people','food','really','go','eat']
file=open("comment.txt","r+")
wordcount={}
for word in file.read().split():
    
        word = word.lower()
        for i in key_words1:
            if i==word:
                if word not in wordcount:
                    wordcount[word] = 1
                else:
                    wordcount[word] += 1
for w,v in wordcount.items():
    words.append(w)
    total_w_c.append(v)
    
test_df = pd.DataFrame({'Words':words,'Counts': total_w_c})

df=test_df.sort_values(by=['Counts'],ascending=False)
df.reset_index(drop='index', inplace=True)
df=df[['Words','Counts']]
df

        Words  Counts
0       wings    1414
1        like     340
2        good     337
3        very     281
4        food     224
5          go     224
6      really     206
7      people     101
8       spicy      91
9        nice      88
10        eat      85
11  excellent      20
12       test       2

In [39]:
df.to_csv('Reviews_specific_words.csv')